body{
  height: 100vh;
  background-color: rgb(16, 16, 16);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  min-height: 80vh;
  width: 30vw;
  background-color: #464646;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
h1{
  text-align: center;
  padding-top: 20px;
}
input{
  width: 72%;
  /* padding: 12px 20px; */
  height: 5vh;
  /* margin: 8px 0; */
  border-radius: 10px;
  box-sizing: border-box;
  border: none;
  background-color: rgb(52, 51, 51);
  color: white;
}
.button {
  display: inline-block;
  border-radius: 10px;
  background-color: rgb(52, 51, 51);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  height: 5vh;
  width: 7vw;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.outputButton {
  display: inline-block;
  border-radius: 10px;
  background-color: rgb(52, 51, 51);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  height: 5vh;
  width: 5vw;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.outputButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.outputButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.outputButton:hover span {
  padding-right: 25px;
}

.outputButton:hover span:after {
  opacity: 1;
  right: 0;
}
ul{
  height: auto;
  width: 100%;
  background-color: #464646;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.li{
  display: flex;
  width: 95%;
  align-items: center;
  background-color: rgb(28, 28, 28);
  border-radius: 10px;
  justify-content: space-around;
  color: #FFFFFF;;
}
@media screen and (min-width:600px){
  .container{
    min-width: 400px;
  }
  .button{
    width: 90px;
  }
  .outputButton{
    width: 50px;
  }
}